<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/site.css">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
  <script src="/scripts/jquery-3.3.1.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/notification-remover.js"></script>
  <title>Express template</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-header container-fluid ml-4">
          <a href="/" class="navbar-brand">Express template</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        {{#if currentUser}}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-5">
              <li><a class="nav-item nav-link" href="/account/details">Welcome, {{currentUser.username}}</a></li>
              {{#if currentUser.isAdmin}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                </li>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              {{/if}}
              <li>
                <form id="logout-form" method="POST" action="/account/logout"></form>
                <a class="nav-item nav-link" href="javascript:document.getElementById('logout-form').submit()">Logout</a>
              </li>
            </ul>
          </div>
        {{/if}}
        {{#unless currentUser}}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-5">
              <a class="nav-item nav-link" href="/account/login">Login</a>
              <a class="nav-item nav-link" href="/account/register">Register</a>
            </div>
          </div>
        {{/unless}}
    </nav>
  </header>
  <main class="container">
    {{#if globalError }}
      <div class="alert alert-danger">
        <p>{{globalError}}</p>
      </div>
     {{/if}}
    {{#if successMessage }}
    <div class="alert alert-success">
      <p>{{successMessage}}</p>
    </div>
    {{/if}}
    {{{body}}}
  </main>
  <footer>
    <div class="container modal-footer">
        <p>&copy; 2018 - Express app template</p>
    </div>
  </footer>
</body>
</html>